<!doctype html>
   <html lang="en">
   <head>
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width,
                    initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                    crossorigin="anonymous">                        
    <title>IT shop main page(entered)</title>
  </head>
  <body>
        <form method="post">
			<div style = "margin-left:1200px;">
				<a href="/logout">
					<button type="button" class="btn btn-outline-primary">
						<p style="font-size: 15px">Выйти из аккаунта</p>
					</button>
				</a>
				<br>
			</div>

			<div style = "margin-left:1200px;"><p style="font-size: 50px">IT shop</p></div>	
			<br>
			<div style = "margin-left:1200px;">
				<a href="/assort">
					<button type="button" class="btn btn-outline-primary">
						<p style="font-size: 15px">Посмотреть ассортимент</p>
					</button>
				</a>
				
				<br>
				<br>
				
				<a href="/my_trash">
					<button type="button" class="btn btn-outline-primary">
						<p style="font-size: 15px">Моя корзина</p>
					</button>
				</a>
			</div>
  </body>
 </html>