<!doctype html>
                <html lang="en">
                  <head>
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width,
                    initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                    crossorigin="anonymous">
                            
    <title>IT shop registration</title>
  </head>
  <body>
        <form method="post">
        <div class="col-md-2">
		
			<br>
            <input type="login" class="form-control" id = "login_in" placeholder="Введите логин" name = "login">
			<br>
			
            <input type="password" class="form-control" id="password_in" placeholder="Введите пароль" name = "password">
			<br>
			
			<button type="submit" class="btn btn-primary">Зарегистриироваться</button>
			
		    <td>
				<img src="/images/11.png" width="600px" height="400px">
			</td>
			
		</div>
			
  </body>
 </html>